.location,
.amenities	{
	position: relative
}

.popover	{
	display: 0;
	background-color: #FAFAFA;
	width: 100%;
	border: #DDDDDD 1px;
	border-radius: 4px;
}

h2	{
	font-size 16px;
}

ul li	{
	text-indent: 12px;
}

.location:hover .popover,
.amenities:hover .popover	{
	display: block;
	background-colour: #FAFAFA;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}
